@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vice';
  src: url("/fonts/ViceCitySans.otf") format('opentype');
}

@font-face {
  font-family: 'GraveSnatchers';
  src: url("/fonts/GraveSnatchers.ttf") format("truetype");
}

@layer utilities {
  .bg-gif {
    background-image: url("/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .box-glow-vblue {
    box-shadow: 0px 0px 5px 2.5px #556DC8;
  }
  .box-glow-vorange {
    box-shadow: 0px 0px 5px 2.5px #FF6C11;
  }
  .box-glow-vpink {
    box-shadow: 0px 0px 5px 2.5px #D40078;
  }
  .box-glow-vpurple {
    box-shadow: 0px 0px 5px 2.5px #540D6E;
  }
  .box-glow-vwhite {
    box-shadow: 0px 0px 5px 2.5px #F5F0F6;
  }
  .box-glow-vblack {
    box-shadow: 0px 0px 5px 2.5px #131200;
  }

  .box-shadow-vpurple {
    box-shadow: 6px 6px 0px 0px #540D6E;
  }

  .text-glow-vblue {
    text-shadow: 0px 0px 5px #556DC8;
  }
  .text-glow-vorange {
    text-shadow: 0px 0px 5px #FF6C11;
  }
  .text-glow-vpink {
    text-shadow: 0px 0px 5px #D40078;
  }
  .text-glow-vpurple {
    text-shadow: 0px 0px 5px #540D6E;
  }
  .text-glow-vwhite {
    text-shadow: 0px 0px 5px #F5F0F6;
  }
  .text-glow-vblack {
    text-shadow: 0px 0px 5px #131200;
  }

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  @apply bg-vblack;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
